<div class="container">
  <div class="page-header">
    <h1>Learn Fitness <small>Create Your Custom Android App</small></h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class='form-horizontal'>
        <div class="form-group">
          <label for="appName" class='col-lg-2'>Application Name</label>
          <div class='col-lg-10'>
            <input type="text" class="form-control" id="appName" placeholder="My Cool App">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class='col-lg-2'>Contact Email</label>
          <div class='col-lg-10'>
            <input type="email" class="form-control" id="email" placeholder="contact@email.com">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class='col-lg-2'>Password</label>
          <div class='col-lg-10'>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </div>
        <hr />
        <h3>Lesson Content</h3>
        {{#each allWeeks as |week|}}
          {{week-content content=week}}
        {{else}}
          <div class="alert alert-info">No content added yet.</div>
        {{/each}}
        <div class="form-group">
          <div class='col-lg-12'>
            <button class="btn btn-default" {{action 'addWeek'}}><span class='glyphicon
glyphicon-plus'></span>
            Add a Week
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class='col-lg-12 submit-btn-div'>
            <button type="submit" class="submit-btn btn btn-danger">Create My App</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
