<div>
  <img class="main-body-img" src="img/background.jpg">
  <img class="logo" src="img/amplify-logo.png" />
  <p class="tagline">Create your own app in minutes</p>
  {{#link-to 'create-app' class="create-button btn btn-primary btn-lg"}}
    Begin today
  {{/link-to}}
</div>
<div class="main-content container">
  <!-- Row for images and text -->
  <div class="row">
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="img/exercise-balls.jpg" alt="...">
        <div class="caption">
          <h3>Create Custom Lessons</h3>
          <p>Create speciality training videos along with image and textual instructions</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="img/pushup-woman.jpg" alt="...">
        <div class="caption">
          <h3>Provide User Feedback</h3>
          <p>Connect users with local trainer, review user's posted video messages and provide feedback anywhere from the world</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="img/touch-toes.jpg" alt="...">
        <div class="caption">
          <h3>Generate Trainer Referrals</h3>
          <p>Make trainer profiles available to your users</p>
        </div>
      </div>
    </div>
  </div>
</div>
